<!DOCTYPE html>

html(lang="en")
    include ../inc/header.pug
    body
        //- mt, mb, ml, mr, mx, my, pt,pb, pl, pr, px, py
        //- bootstrap: 기본폰트 사이즈:16px= 1rem / -1(0.25rem, 4px), -2(0.5rem, 8px)
        //- -3(1rem, 16px), -4(1.5rem, 24px), -5(2rem, 32px), -auto
        include ../inc/nav.pug
        .container
            .jumbotron.mb-3.my-3
                h1= tit
                    span.mr3.ml3 -
                    small= subTit
            table.table.table-bordered.table-hover
                thead.thead-dark
                    tr
                        th 번호
                        th 이름
                        th 나이
                        th 가입일
                        th 관리
                tbody
                    each item in datas
                        tr
                            td= item["id"]
                            td= item["username"]
                            td= item["age"]
                            td= item["wdate"]
                            td.tc
                                button.btn.btn-danger.btn-sm(onclick= `location.href='/user/rm/${item.id}'`) 삭제
                                button.btn.btn-success.btn-sm(onclick= `location.href='/user/up/${item.id}'`) 수정