<!DOCTYPE html>

html(lang="en")
    include ../inc/header.pug
    body
        include ../inc/nav.pug
        .container
            .jumbotron.mb-3.my-3
                h1= tit
                    span.mr-3.ml-3 -
                    small= subTit
            form(name= "sendFrom" action="/user/update" method="post" )
                table.table.table-bordered.table-hover
                    thead.thead-dark
                        tr
                            th 구분
                            th 내용
                    tbody
                        tr
                            td 이름
                            td
                                input(type="hidden" name="id" value=`${datas.id}`)
                                input(type='text' name='username' class='form-control' value=`${datas.username}`)
                        tr 
                            td 나이
                            td
                                input(type="number" name='age' class='form-control' value=`${datas.age}`)
                        tr.tc
                            td(colspan="2")
                                button.btn.btn-primary(type='submit') 수정
                                button.btn.btn-danger(type='reset') 다시 작성